<div class="form mt-4">
  <form method="post">
    <div class="form-group">
      <label for="search-input">Search</label>
      <input
        type="search..."
        name="q"
        class="form-control"
        id="search-input"
        placeholder="Enter..."
      />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>